body{
    font-family: Arial, sans-serif;
    padding: 20px;
}
form input, form button{
    padding: 10px;
    margin: 5px 0;
    font-size: 16px;
}
table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td{
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

button{
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
